<template>
  <div class="seo">
    <div class="seo-table">
      <info-table
        :headers="tableData.headers"
        :rows="tableData.rows"
        :class="'seo-table-detail'"
      >
        <template
          slot="chart"
          slot-scope="cell"
        >
          <sparkline
            v-if="typeof cell.value === 'object'"
            :dataset="formatDataChart(cell.value)"
            :class="'sparkline-container'"
          />
          <span
            v-else
            v-text="cell.value"
          />
        </template>
      </info-table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InfoTable from '~/components/Table.vue'
import Sparkline from '~/components/chart/Sparkline.vue'
import { objToArr } from '~/scripts/utils.js'

export default {
  components: {
    InfoTable,
    Sparkline
  },
  data() {
    return {
      tableData: {
        headers: [
          this.$t('keyword'),
          this.$t('searches'),
          '<abbr title="cost per click">CPC</abbr>',
          this.$t('annual_trend'),
          this.$t('seasonal_nature')
        ],
        rows: []
      }
    }
  },
  computed: {
    ...mapGetters({
      summary: 'summary/summary'
    })
  },
  mounted() {
    const { boxes } = this.summary
    this.setInitialData(boxes.localSeoBox)
  },
  methods: {
    setInitialData(report) {
      const { keywords } = report
      const data = objToArr(keywords)
      data.forEach(element => {
        this.tableData.rows.push([
          element.seoMonkey.keyword.value,
          element.seoMonkey.searchVolume.value,
          element.seoMonkey.cpc.value,
          element.seoMonkey.trend.value,
          element.seoMonkey.seasonality.value
        ])
      })
    },
    formatDataChart(data) {
      return Array.isArray(data) ? data : objToArr(data)
    }
  }
}
</script>

<style>
</style>
