<template>
  <div
    v-if="loading"
    class="loading-page"
  >
    <div class="loading-page-bar"/>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.loading-page {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 2px;
  max-width: 100%;
  overflow: hidden;
}

.loading-page-bar {
  animation: load 2.6s infinite;
  background: #999;
  height: 2px;
  position: relative;
}

@keyframes load {
  0% {
    left: -100%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
</style>
