<template>
  <div class="summary">
    <div 
      v-for="(element, index) in report"
      :key="'summary' + index"
      class="summary-box-item"
    >
      <box
        v-if="index===0"
        :button-text="$t('see_details')"
        :class="{ 'box-optimization': element.title2 }"
        route-to="summary-web"
      >
        <template slot="before">
          <div class="box-section">
            <h3 class="box-title">{{ element.title1 }}</h3>
            <rate
              :result="element.result1"
              class="box-result"
            /> 
            <div class="box-text">
              {{ element.text1 }}
            </div>
          </div>
          <div
            v-if="element.title2"
            class="box-section"
          >
            <h3 class="box-title">{{ element.title2 }}</h3>
            <rate
              :result="element.result2"
              class="box-result"
            />
            <div class="box-text">
              {{ element.text2 }}
            </div>
          </div>
        </template>
      </box>
      <box
        v-if="index !== 0 && element.isVisible"
        :title="element.title"
        :result="element.result"
        :text="element.text"
        :route-to="element.routeTo"
        :button-text="$t('see_details')"
        class="box-wrapper"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Box from '~/components/Box'
import Rate from '~/components/Rate'

class Card {
  constructor(title, result, text, routeTo) {
    title = this.title
    result = this.result
    text = this.text
    routeTo = this.routeTo
  }
}

export default {
  components: {
    Box,
    Rate
  },
  data() {
    return {
      report: [
        {
          title1: this.$t('web_summary_title'),
          title2: this.$t('contents'),
          result1: '',
          result2: '',
          text1: this.$t('web_optimization_desc'),
          text2: this.$t('web_optimization_desc'),
          isVisible: true,
          routeTo: 'summary-web'
        },
        {
          title: this.$t('search_summary_title'),
          result: '',
          text: this.$t('search_optimization_desc'),
          isVisible: true,
          routeTo: 'summary-search'
        },
        {
          title: this.$t('rrss_optimization_title'),
          result: '',
          text: this.$t('rrss_optimization_desc'),
          isVisible: false,
          routeTo: 'summary-rrss'
        },
        {
          title: this.$t('seo_optimization_title'),
          result: '',
          text: this.$t('seo_optimization_desc'),
          isVisible: false,
          routeTo: 'summary-seo'
        },
        {
          title: `<abbr title='Pay per click'>${this.$t(
            'ppc_optimization_title'
          )}</abbr>`,
          result: '',
          text: this.$t('ppc_optimization_desc'),
          isVisible: false,
          routeTo: 'summary-ppc'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      summary: 'summary/summary'
    })
  },
  mounted() {
    const report = this.summary
    this.createReport(report.summary)
  },
  methods: {
    createReport(report) {
      let summaryWeb = this.report.find(el => el.routeTo === 'summary-web')
      let summarySearch = this.report.find(
        el => el.routeTo === 'summary-search'
      )
      let summaryRrss = this.report.find(el => el.routeTo === 'summary-rrss')
      let summarySeo = this.report.find(el => el.routeTo === 'summary-seo')
      let summaryPpc = this.report.find(el => el.routeTo === 'summary-ppc')

      if (report.webOptimizationBox) {
        summaryWeb.result1 = report.webOptimizationBox
      }
      if (report.contentOptimizationBox) {
        summaryWeb.result2 = report.contentOptimizationBox
      } else {
        delete summaryWeb.title2
        delete summaryWeb.result2
      }
      summarySearch.result = report.searchOptimizationBox
      if (report.socialNetworksOptimizationBox) {
        summaryRrss.result = report.socialNetworksOptimizationBox
        summaryRrss.isVisible = true
      }
      if (report.localSeoBox) {
        summarySeo.result = report.localSeoBox
        summarySeo.isVisible = true
      }
      if (report.payPerClickBox) {
        summaryPpc.result = report.payPerClickBox
        summaryPpc.isVisible = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.summary {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 30px;
}

.box-wrapper {
  width: 350px;
  margin: 0 15px 30px;
}
</style>
