<template>
  <div class="competition-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
    />
    <content-form 
      :title="form.title"
      :width="form.width"
      @saveData="saveData"
      @removeData="removeData"
    >
      <div
        v-for="(element, index) in form.fields.selector.slice(0, 1)" 
        :key="'epi' + index" 
        class="form-field"
      >
        <input-suggestion
          ref="epigraph"
          :label="element.label"
          :suggestions="element.suggestions"
          :id="element.status.key"
          :placeholder="'Epígrafe'"
          @getSuggestions="getEpigraphList"
          @pickedValue="pickedEpigraph"
        />
      </div>
      <div
        v-for="(element, index) in form.fields.selector.slice(1, 2)" 
        :key="'loc' + index" 
        class="form-field"
      >
        <input-suggestion
          ref="location"
          :label="element.label"
          :suggestions="element.suggestions"
          :id="element.status.key"
          :placeholder="'Municipio / Ciudad'"
          @getSuggestions="getLocationList"
          @pickedValue="pickedLocation"
        />
      </div>
      <div
        v-for="(element, index) in form.fields.radio" 
        v-show="form.showKeywords && form.fields.radio[0].nItems" 
        :key="'r' + index"
        class="form-field"
      >
        <radio-group
          ref="radiogroup"
          :label="element.label"
          :options="element.options.slice(0, element.nItems)"
          :id="element.status.key"
          @pickedValue="pickedValue"
        />
      </div>
      <div
        v-if="!form.hasKeywords"
        class="no-keywords-warning"
      >
        <ion-icon
          name="alert"
          class="no-keywords-icon"
        />
        <span class="no-keywords-msg">
          Keywords no disponibles para {{ form.fields.selector[0].status.value }} en {{ form.fields.selector[1].status.value }}
        </span>
      </div>
    </content-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as Service from '~/scripts/service.js'

import Navigator from '~/components/common/Navigator.vue'
import SectionTitle from '~/components/common/SectionTitle.vue'
import ContentForm from '~/components/form/AnalysisWrapper.vue'
import RadioGroup from '~/components/form/fields/RadioGroup.vue'
import InputSuggestion from '~/components/form/fields/TextSuggestion.vue'

class Selector {
  constructor(label, suggestions, status) {
    this.label = label
    this.suggestions = suggestions
    this.status = status
  }
}

class Radio {
  constructor(label, options, status, nItems) {
    this.label = label
    this.options = options
    this.status = status
    this.nItems = nItems
  }
}

export default {
  components: {
    Navigator,
    SectionTitle,
    ContentForm,
    RadioGroup,
    InputSuggestion
  },
  data() {
    return {
      route: {
        to: 'analysis',
        text: this.$t('back')
      },
      title: this.$t('seo_optimization_title'),
      form: {
        title: this.$t('fill_fields'),
        width: 350,
        fields: {
          selector: [],
          radio: []
        },
        showKeywords: false,
        hasKeywords: true
      },
      seoMonkeyList: {}
    }
  },
  computed: {
    ...mapGetters({
      analysisField: 'form/analysisField',
      loadedData: 'form/loadedData'
    })
  },
  created() {
    if (!this.loadedData) {
      this.redirect(false)
    }
  },
  mounted() {
    this.getInitialData()
    if (
      this.form.fields.selector.some(
        el => el.status.value !== null && el.status.value !== ''
      )
    ) {
      this.saveModuleState({ element: 'showReset', show: true })
    }
    this.saveModuleState({ element: 'showSave', show: false })
    this.showKeywords()
  },
  destroyed() {
    this.saveModuleState({ element: 'showSave', show: true })
  },
  methods: {
    ...mapActions({
      saveAnalysisData: 'form/saveAnalysisData',
      enableAnalysisBlock: 'form/enableAnalysisBlock',
      saveAnalysisSuggestions: 'form/saveAnalysisSuggestions',
      saveSeoMonkey: 'form/saveSeoMonkey',
      saveModuleState: 'controllers/saveModuleState'
    }),
    getInitialData() {
      const selector = [
        new Selector(this.$t('epygraph'), [], {
          ...this.analysisField('epigraph')
        }),
        new Selector(this.$t('location'), [], { ...this.analysisField('city') })
      ]
      const radiogroup = [
        new Radio(
          this.$t('keywords_number'),
          [
            {
              name: 'keywords',
              value: '2'
            },
            {
              name: 'keywords',
              value: '4'
            },
            {
              name: 'keywords',
              value: '6'
            },
            {
              name: 'keywords',
              value: '8'
            },
            {
              name: 'keywords',
              value: '10'
            },
            {
              name: 'keywords',
              value: '12'
            }
          ],
          { ...this.analysisField('keywords') },
          0
        )
      ]
      this.form.fields.selector = selector
      this.form.fields.radio = radiogroup
    },
    async getEpigraphList(query) {
      const vm = this
      const suggestions = await Service.getEpigraphSuggestions(query)
      this.form.fields.selector[0].suggestions = suggestions
      this.saveAnalysisSuggestions({ key: 'epigraph', suggestions })
      vm.$nextTick(() => {
        vm.$refs.epigraph[0].showSuggestions()
      })
    },
    async getLocationList(query) {
      const vm = this
      const suggestions = await Service.getLocationSuggestions(query)
      this.form.fields.selector[1].suggestions = suggestions
      this.saveAnalysisSuggestions({ key: 'city', suggestions })
      vm.$nextTick(() => {
        vm.$refs.location[0].showSuggestions()
      })
    },
    pickedEpigraph(status) {
      this.form.fields.selector[0].status.value = status.picked
      this.form.fields.selector[0].status.refNumber = status.ref
      this.form.hasKeywords = true
      this.showKeywords()
    },
    pickedLocation(status) {
      this.form.fields.selector[1].status.value = status.picked
      this.form.fields.selector[1].status.refNumber = status.ref
      this.form.hasKeywords = true
      this.showKeywords()
    },
    pickedValue(status) {
      this.form.fields.radio[0].status.value = status.picked
    },
    async showKeywords() {
      if (
        this.form.fields.selector[0].status.value &&
        this.form.fields.selector[1].status.value
      ) {
        const category = {
          ref: this.form.fields.selector[0].status.refNumber
        }
        const location = {
          ref: this.form.fields.selector[1].status.refNumber,
          value: this.form.fields.selector[1].status.value
        }
        this.seoMonkeyList = await Service.getSeoMonkey(category, location)
        this.$nextTick(() => {
          this.form.fields.radio[0].nItems = Math.trunc(
            this.seoMonkeyList.total / 2
          )
          if (this.seoMonkeyList.total) {
            this.form.hasKeywords = true
          } else {
            this.form.hasKeywords = false
          }
        })
        this.form.showKeywords = true
        console.log(this.seoMonkeyList.total)
        if (this.seoMonkeyList.total) {
          this.saveModuleState({ element: 'showSave', show: true })
        }
      }
    },
    saveData() {
      if (this.validate()) {
        let inputSelector = this.form.fields.selector.map(a => a.status)
        let inputRadio = this.form.fields.radio.map(a => a.status)
        let submitData = [...inputSelector, ...inputRadio]
        submitData.forEach(element => {
          this.saveAnalysisData(element)
        })
        this.saveSeoMonkey(this.seoMonkeyList)
        this.enableAnalysisBlock({
          key: 'seo_optimization',
          value: true,
          editable: true
        })
        this.redirect()
      }
    },
    validate() {
      let isValid = true
      let isFieldValid = true
      // epigraph validation
      isFieldValid = this.analysisField('epigraph').suggestions.some(
        option => option.value === this.$refs.epigraph[0].model.input
      )
      this.$refs.epigraph[0].validate(isFieldValid)
      if (isFieldValid === false) {
        isValid = false
      }
      // location validation
      isFieldValid = this.analysisField('city').suggestions.some(
        option => option.value === this.$refs.location[0].model.input
      )
      this.$refs.location[0].validate(isFieldValid)
      if (isFieldValid === false) {
        isValid = false
      }
      //radiogroup validation
      const radioGroup = this.$refs.radiogroup[0]
      isFieldValid = radioGroup.model.picked !== undefined
      radioGroup.validate(isFieldValid)
      if (isFieldValid === false) {
        isValid = false
      }

      return isValid
    },
    removeData() {
      this.$refs.epigraph[0].resetData()
      this.$refs.location[0].resetData()
      this.$refs.radiogroup[0].resetData()
      this.enableAnalysisBlock({
        key: 'seo_optimization',
        value: false,
        editable: false
      })
      let inputSelector = this.form.fields.selector.map(a => a.status)
      let inputRadio = this.form.fields.radio.map(a => a.status)
      let submitData = [...inputSelector, ...inputRadio]
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.redirect()
    },
    redirect(delay = true) {
      if (delay) {
        setTimeout(() => {
          this.$router.push(this.localePath('analysis'))
        }, 200)
      } else {
        this.$router.push(this.localePath('analysis'))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.form-field {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 10px;
  }
}
.no-keywords-warning {
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid $warning;
  background-color: lighten($color: $warning, $amount: 30%);
  padding: 8px;
  border-radius: 2px;
}

.no-keywords-msg {
  font-size: 13px;
  padding: 0 16px;
}

.no-keywords-icon {
  font-size: 20px;
  margin-bottom: 4px;
  color: $warning;
}
</style>
