<template>
  <div class="analysis-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
    />
    <content-form 
      :title="form.title"
      @saveData="saveData"
      @removeData="removeData"
    >
      <div 
        v-for="(element, index) in form.fields" 
        :key="index" 
        class="form-field"
      >
        <toggle-button
          ref="radio"
          :custom-width="element.customWidth"
          :id="element.status.key"
          :label-enabled="element.labelEnabled"
          :label-disabled="element.labelDisabled"
          :question="element.question"
          @enabledButton="updateStatus"
        />
      </div>
    </content-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import Navigator from '~/components/common/Navigator.vue'
import SectionTitle from '~/components/common/SectionTitle.vue'
import ToggleButton from '~/components/form/fields/Toggle.vue'
import ContentForm from '~/components/form/AnalysisWrapper.vue'

class ToggleItem {
  constructor(question, status, labelEnabled, labelDisabled) {
    this.question = question
    this.status = status
    this.labelEnabled = labelEnabled
    this.labelDisabled = labelDisabled
  }
}

export default {
  components: {
    Navigator,
    SectionTitle,
    ToggleButton,
    ContentForm
  },
  data() {
    return {
      route: {
        to: 'analysis',
        text: this.$t('back')
      },
      title: this.$t('contents'),
      form: {
        title: this.$t('answer_questions'),
        fields: []
      }
    }
  },
  computed: {
    ...mapGetters({
      analysisField: 'form/analysisField',
      loadedData: 'form/loadedData'
    })
  },
  created() {
    if (!this.loadedData) {
      this.redirect(false)
    }
  },
  mounted() {
    this.getInitialData()
    if (this.form.fields.some(el => el.status.value === true)) {
      this.saveModuleState({ element: 'showReset', show: true })
    }
  },
  methods: {
    ...mapActions({
      saveAnalysisData: 'form/saveAnalysisData',
      saveModuleState: 'controllers/saveModuleState'
    }),
    getInitialData() {
      const toggle = [
        new ToggleItem(
          this.$t('has_catalog'),
          { ...this.analysisField('catalog') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('has_wide_desc'),
          { ...this.analysisField('description') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('has_pictures'),
          { ...this.analysisField('picture') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('has_blog'),
          { ...this.analysisField('blog') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('has_videos'),
          { ...this.analysisField('video') },
          this.$t('yes'),
          this.$t('no')
        )
      ]
      this.form.fields = toggle
    },
    updateStatus(status) {
      const elem = this.form.fields.find(
        result => result.status.key === status.id
      )
      elem.status.value = status.enabled
    },
    enableContents() {
      let hasContents = this.form.fields.some(el => el.status.value === true)
      this.saveModuleState({ element: 'hasContents', show: hasContents })
    },
    saveData() {
      let submitData = this.form.fields.map(a => a.status)
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.enableContents()
      this.redirect()
    },
    removeData() {
      this.$refs.radio.forEach(element => {
        element.resetData()
      })
      let submitData = this.form.fields.map(a => a.status)
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.redirect()
    },
    redirect(delay = true) {
      if (delay) {
        setTimeout(() => {
          this.$router.push(this.localePath('analysis'))
        }, 200)
      } else {
        this.$router.push(this.localePath('analysis'))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form-field {
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 10px;
  }
}
</style>
