<template>
  <div class="analysis-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
    />
    <div class="page-wrapper">
      <form>
        <div class="analysis-web">
          <div
            v-for="(element, index) in analysis.slice(0,3)" 
            :key="'analisys' + index" 
            class="analysis-box-item"
          >
            <box
              :title="element.title"
              :text="element.text"
              :route-to="element.routeTo"
              :button-text="element.buttonText"
              custom-class="box-analysis"
              class="box-wrapper"
            >
              <template slot="after">
                <toggle-button
                  ref="radio"
                  :custom-width="element.toggle.customWidth"
                  :id="element.toggle.status.key"
                  :label-enabled="element.toggle.labelEnabled"
                  :label-disabled="element.toggle.labelDisabled"
                  :icon="element.toggle.icon"
                  class="analysis-toggle"
                  @enabledButton="updateStatus"
                />
              </template>
            </box>
          </div>
        </div>
        <a
          :class="{ 'active': showMarketSection}"
          class="analysis-market-link"
          href="#" 
          @click="showDetails($event)"
        >
          <h3 class="analysis-market-title">{{ $t('market_analysis') }}</h3>
          <ion-icon
            name="ios-arrow-down"
            class="toggle-icon"
          />
        </a>
        <div
          v-show="showMarketSection"
          class="analysis-market"
        >
          <div
            v-for="(element, index) in analysis.slice(3)" 
            :key="'market' + index" 
            class="analysis-box-item"
          >
            <box
              :title="element.title"
              :text="element.text"
              :route-to="element.routeTo"
              :button-text="element.buttonText"
              custom-class="box-analysis"
              class="box-wrapper"
            >
              <template slot="after">
                <toggle-button
                  ref="radio"
                  :custom-width="element.toggle.customWidth"
                  :id="element.toggle.status.key"
                  :label-enabled="element.toggle.labelEnabled"
                  :label-disabled="element.toggle.labelDisabled"
                  :icon="element.toggle.icon"
                  class="analysis-toggle"
                  @enabledButton="updateStatus"
                />
              </template>
            </box>
          </div>
        </div>
        <generators
          class="analysis-generators"
          @generateBasic="generateBasic"
          @generateRecommendation="generateRecommendation"
        >
          <button
            class="generator-button"
            @click="generateBasic($event)"
          >{{ generateBasicString }}</button>
          <button 
            class="generator-button"
            @click="generateRecommendation($event)"
          >{{ generateBasicString + ' + ' + $t('recommendation') }}</button>
        </generators>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as service from '~/scripts/service.js'

import Navigator from '~/components/common/Navigator.vue'
import SectionTitle from '~/components/common/SectionTitle.vue'
import Box from '~/components/Box'
import ToggleButton from '~/components/form/fields/Toggle.vue'
import Generators from '~/components/Generators'

class Card {
  constructor(title, text, routeTo, buttonText, toggleKey, toggleIcon, labels) {
    this.title = title
    this.text = text
    this.routeTo = routeTo
    this.buttonText = buttonText
    this.toggle = {
      customWidth: 132,
      status: {
        key: toggleKey,
        value: true
      },
      labelEnabled: labels.labelEnabled,
      labelDisabled: labels.labelDisabled,
      icon: toggleIcon
    }
  }
}

export default {
  components: {
    Navigator,
    SectionTitle,
    Box,
    ToggleButton,
    Generators
  },
  data() {
    return {
      route: {
        to: 'index',
        text: 'home'
      },
      analysis: [
        new Card(
          this.$t('web_summary_title'),
          this.$t('web_optimization_desc'),
          'analysis-web',
          this.$t('advanced_edit'),
          'web_optimization',
          'md-lock',
          {
            labelEnabled: this.$t('enabled'),
            labelDisabled: this.$t('disabled')
          }
        ),
        new Card(
          this.$t('search_summary_title'),
          this.$t('search_optimization_desc'),
          'analysis-search',
          this.$t('advanced_edit'),
          'search_optimization',
          'md-lock',
          {
            labelEnabled: this.$t('enabled'),
            labelDisabled: this.$t('disabled')
          }
        ),
        new Card(
          this.$t('rrss_optimization_title'),
          this.$t('rrss_optimization_desc'),
          'analysis-rrss',
          this.$t('edit'),
          'rrss_optimization',
          'md-unlock',
          {
            labelEnabled: this.$t('enabled'),
            labelDisabled: this.$t('disabled')
          }
        ),
        new Card(
          this.$t('seo_optimization_title'),
          this.$t('seo_optimization_desc'),
          'analysis-seo',
          this.$t('edit'),
          'seo_optimization',
          'md-unlock',
          {
            labelEnabled: this.$t('enabled'),
            labelDisabled: this.$t('disabled')
          }
        ),
        new Card(
          this.$t('ppc_optimization_title'),
          this.$t('ppc_optimization_desc'),
          'analysis-ppc',
          this.$t('edit'),
          'ppc_optimization',
          'md-unlock',
          {
            labelEnabled: this.$t('enabled'),
            labelDisabled: this.$t('disabled')
          }
        )
      ],
      showMarketSection: false
    }
  },
  computed: {
    ...mapGetters({
      website: 'website/website',
      analysisField: 'form/analysisField',
      analysisBlock: 'form/analysisBlock',
      analysisAdvanced: 'form/analysisAdvanced',
      loadedData: 'form/loadedData',
      seoMonkey: 'form/seoMonkey',
      showModule: 'controllers/showModule'
    }),
    title() {
      if (this.analysisAdvanced === false) {
        return this.$t('basic_analysis')
      } else {
        return this.$t('advanced_analysis')
      }
    },
    generateBasicString() {
      if (this.analysisAdvanced === false) {
        return this.$t('generate_basic')
      } else {
        return this.$t('generate_advanced')
      }
    }
  },
  async created() {
    const vm = this
    if (!this.loadedData) {
      this.$nuxt.$loading.start()
      await this.setInitialFields()
      await this.setInitialBox()
      vm.$refs.radio.forEach(el => el.setModel())
      this.$nuxt.$loading.finish()
    }
  },
  mounted() {
    this.showMarketSection = this.showModule('showMarket')
    this.changeToAdvanced()
  },
  methods: {
    ...mapActions({
      saveAnalysisData: 'form/saveAnalysisData',
      enableAnalysisBlock: 'form/enableAnalysisBlock',
      changeAdvancedAnalysis: 'form/changeAdvancedAnalysis',
      saveModuleState: 'controllers/saveModuleState',
      saveSummary: 'summary/saveSummary'
    }),
    async setInitialFields() {
      const { uuid } = this.website
      const { status, result } = await service.getFormFields(uuid)
      let analysis = []
      if (status === 'OK') {
        Object.entries(result).map(key => {
          analysis.push({
            key: key[0],
            value: key[1]
          })
        })
        this.saveAnalysisData(analysis)
      }
    },
    async setInitialBox() {
      const { uuid } = this.website
      const response = await service.getBoxStatus(uuid)
      const formatResponse = response => {
        switch (response) {
          case 'desactive':
            return false
            break
          default:
            return true
            break
        }
      }
      let box = JSON.parse(JSON.stringify(this.analysisBlock()))
      box.map(el => (el.value = formatResponse(response[el.key])))
      box.forEach(el => {
        this.enableAnalysisBlock(el)
      })
    },
    showDetails(e) {
      e.preventDefault()
      this.showMarketSection = !this.showMarketSection
      this.saveModuleState({
        element: 'showMarket',
        show: this.showMarketSection
      })
    },
    changeToAdvanced() {
      let isAdvanced
      if (
        this.showModule('hasContents') ||
        this.showModule('hasCompetence') ||
        this.analysisBlock().some(
          el =>
            el.value === true &&
            el.key !== 'web_optimization' &&
            el.key !== 'search_optimization'
        )
      ) {
        this.changeAdvancedAnalysis(true)
      } else {
        this.changeAdvancedAnalysis(false)
      }
      this.updateTitles()
    },
    updateTitles() {
      let optimization = this.analysis.find(
        el => el.toggle.status.key === 'web_optimization'
      )
      let competence = this.analysis.find(
        el => el.toggle.status.key === 'search_optimization'
      )
      if (this.showModule('hasContents')) {
        optimization.title = this.$t('web_optimization_title')
      } else {
        optimization.title = this.$t('web_summary_title')
      }
      if (this.showModule('hasCompetence')) {
        competence.title = this.$t('search_optimization_title')
      } else {
        competence.title = this.$t('search_summary_title')
      }
    },
    updateStatus(status) {
      let boxStatus
      if (status.enabled) {
        boxStatus = 'active'
      } else {
        boxStatus = 'desactive'
      }
      const params = { boxName: status.id, status: boxStatus }
      this.enableAnalysisBlock({ key: status.id, value: status.enabled })
      this.changeToAdvanced()
    },
    generateBasic(e) {
      e.preventDefault()
      this.$nuxt.$loading.start()
      this.saveModuleState({ element: 'showRecommendation', show: false })
      this.postAnalysis()
    },
    generateRecommendation(e) {
      e.preventDefault()
      this.$nuxt.$loading.start()
      this.saveModuleState({ element: 'showRecommendation', show: true })
      this.postAnalysis()
    },
    async postAnalysis() {
      const { uuid } = this.website
      const boxParams = this.buildBoxParams()
      const formFields = this.buildFormFields()
      const seo_optimization_box = boxParams.find(
        el => el.boxName === 'seo_optimization'
      )
      if (seo_optimization_box.status === 'active') {
        const keywordsLength = parseInt(this.analysisField('keywords').value)
        const seoMonkeyList = this.seoMonkey.keywords
        await service.setSeoMonkey(uuid, seoMonkeyList, keywordsLength)
      }
      let boxResp = await service.setBoxStatus(uuid, boxParams)
      let fieldResp = await service.setFormFields(uuid, formFields)
      if (boxResp && fieldResp) {
        this.requestSummary()
      }
    },
    buildBoxParams() {
      const boxes = this.analysisBlock()
      let boxParams = []
      boxes.forEach((el, index) => {
        let status
        if (el.value) {
          if (index < 2) {
            status = 'advance'
          } else {
            status = 'active'
          }
        } else {
          status = 'desactive'
        }
        boxParams.push({
          boxName: el.key,
          status: status
        })
      })
      return boxParams
    },
    buildFormFields() {
      const fields = this.analysisField()
      let changedFields = fields.filter(
        el => el.value !== null && el.value !== false && el.value !== ''
      )
      let formattedFields = changedFields.map(el => `${el.key}=${el.value}`)
      return formattedFields
    },
    async requestSummary() {
      const { uuid } = this.website
      let { result, status } = await service.getSummary(uuid)
      if (status === 'OK') {
        this.saveSummary(result.report)
        this.redirect()
      }
    },
    redirect() {
      setTimeout(() => {
        this.$router.push(this.localePath('summary'))
      }, 200)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';

.page-wrapper {
  padding-bottom: 170px;
}

.analysis-page {
  .box-title {
    min-height: 72px;
  }
  .box-text {
    min-height: 82px;
  }
}

.analysis-web,
.analysis-market {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 -15px;
}

.analysis-box-item {
  padding: 0 15px;
  width: 380px;
}

.analysis-toggle {
  display: block;
  margin: auto auto -10px;
  position: relative;
  &.undeditable {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}

.analysis-market-link {
  text-decoration: none;
  color: $white;
  font-size: 32px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 60px 0 54px;
  &.active {
    .toggle-icon {
      transform: rotate(180deg);
    }
  }
}

.analysis-market-title {
  font-size: inherit;
  margin-right: 10px;
  font-weight: 600;
  .toggle-icon {
    color: inherit;
  }
}
</style>
