<template>
  <div class="competition-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
    />
    <content-form 
      :title="form.title"
      :width="form.width"
      @saveData="saveData"
      @removeData="removeData"
    >
      <div
        v-for="(element, index) in form.fields.selector.slice(0, 1)" 
        :key="'epi' + index" 
        class="form-field"
      >
        <input-suggestion
          ref="epigraph"
          :label="element.label"
          :suggestions="element.suggestions"
          :id="element.status.key"
          :placeholder="'Epígrafe'"
          @getSuggestions="getEpigraphList"
          @pickedValue="pickedEpigraph"
        />
      </div>
      <div 
        v-for="(element, index) in form.fields.toggle" 
        :key="'t' + index" 
        class="form-field"
      >
        <toggle-button
          ref="radio"
          :custom-width="element.customWidth"
          :id="element.status.key"
          :label-enabled="element.labelEnabled"
          :label-disabled="element.labelDisabled"
          :question="element.question"
          @enabledButton="updateStatus"
        />
      </div>
    </content-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as Service from '~/scripts/service.js'

import Navigator from '~/components/common/Navigator.vue'
import SectionTitle from '~/components/common/SectionTitle.vue'
import ContentForm from '~/components/form/AnalysisWrapper.vue'
import ToggleButton from '~/components/form/fields/Toggle.vue'
import InputSuggestion from '~/components/form/fields/TextSuggestion.vue'

class Selector {
  constructor(label, suggestions, status) {
    this.label = label
    this.suggestions = suggestions
    this.status = status
  }
}

class ToggleItem {
  constructor(question, status, labelEnabled, labelDisabled) {
    this.question = question
    this.status = status
    this.labelEnabled = labelEnabled
    this.labelDisabled = labelDisabled
  }
}

export default {
  components: {
    Navigator,
    SectionTitle,
    ContentForm,
    ToggleButton,
    InputSuggestion
  },
  data() {
    return {
      route: {
        to: 'analysis',
        text: this.$t('back')
      },
      title: 'PPC',
      form: {
        title: this.$t('answer_questions'),
        width: 550,
        fields: {
          selector: [],
          toggle: []
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      analysisField: 'form/analysisField',
      loadedData: 'form/loadedData'
    })
  },
  created() {
    if (!this.loadedData) {
      this.redirect(false)
    }
  },
  mounted() {
    this.getInitialData()
    if (
      this.form.fields.toggle.some(el => el.status.value === true) ||
      this.form.fields.selector.some(
        el => el.status.value !== null && el.status.value !== ''
      )
    ) {
      this.saveModuleState({ element: 'showReset', show: true })
    }
  },
  methods: {
    ...mapActions({
      saveAnalysisData: 'form/saveAnalysisData',
      enableAnalysisBlock: 'form/enableAnalysisBlock',
      saveAnalysisSuggestions: 'form/saveAnalysisSuggestions',
      saveModuleState: 'controllers/saveModuleState'
    }),
    async getEpigraphList(query) {
      const vm = this
      const suggestions = await Service.getEpigraphSuggestions(query)
      this.form.fields.selector[0].suggestions = suggestions
      this.saveAnalysisSuggestions({ key: 'epigraph', suggestions })
      vm.$nextTick(() => {
        vm.$refs.epigraph[0].showSuggestions()
      })
    },
    pickedEpigraph(status) {
      this.form.fields.selector[0].status.value = status.picked
      this.form.fields.selector[0].status.refNumber = status.ref
    },
    updateStatus(status) {
      const elem = this.form.fields.toggle.find(
        result => result.status.key === status.id
      )
      elem.status.value = status.enabled
    },
    getInitialData() {
      const selector = [
        new Selector(
          this.$t('epygraph'),
          ['Abogados', 'Jardinería', 'Tetería', 'Pim Pam Trucu Trucu'],
          { ...this.analysisField('epigraph') }
        )
      ]
      const toggle = [
        new ToggleItem(
          this.$t('restricted_market'),
          { ...this.analysisField('market') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('unknown_activity'),
          { ...this.analysisField('activity') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('google_ads_campaign'),
          { ...this.analysisField('google_ads') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('google_calls_campaign'),
          { ...this.analysisField('google_calls') },
          this.$t('yes'),
          this.$t('no')
        ),
        new ToggleItem(
          this.$t('facebook_campaign'),
          { ...this.analysisField('facebook_ads') },
          this.$t('yes'),
          this.$t('no')
        )
      ]
      this.form.fields.selector = selector
      this.form.fields.toggle = toggle
    },
    saveData() {
      if (this.validate()) {
        let inputSelector = this.form.fields.selector.map(a => a.status)
        let inputToggle = this.form.fields.toggle.map(a => a.status)
        let submitData = [...inputSelector, ...inputToggle]
        submitData.forEach(element => {
          this.saveAnalysisData(element)
        })
        this.enableAnalysisBlock({
          key: 'ppc_optimization',
          value: true,
          editable: true
        })
        this.redirect()
      }
    },
    validate() {
      let isValid = true
      let isFieldValid = true
      isFieldValid = this.analysisField('epigraph').suggestions.some(
        option => option.value === this.$refs.epigraph[0].model.input
      )
      this.$refs.epigraph[0].validate(isFieldValid)
      if (isFieldValid === false) {
        isValid = false
      }
      return isValid
    },
    removeData() {
      this.$refs.epigraph[0].resetData()
      this.$refs.radio.forEach(element => {
        element.resetData()
      })
      this.enableAnalysisBlock({
        key: 'ppc_optimization',
        value: false,
        editable: false
      })
      let inputSelector = this.form.fields.selector.map(a => a.status)
      let inputToggle = this.form.fields.toggle.map(a => a.status)
      let submitData = [...inputSelector, ...inputToggle]
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.redirect()
    },
    redirect(delay = true) {
      if (delay) {
        setTimeout(() => {
          this.$router.push(this.localePath('analysis'))
        }, 200)
      } else {
        this.$router.push(this.localePath('analysis'))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form-field {
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 10px;
  }
}
</style>
