<template>
  <div class="competition-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
    />
    <content-form 
      :title="form.title"
      :width="form.width"
      @saveData="saveData"
      @removeData="removeData"
    >
      <div
        v-for="(element, index) in form.fields" 
        :key="index" 
        class="form-field"
      >
        <form-text
          ref="text"
          :label="element.label"
          :placeholder="element.placeholder"
          :id="element.status.key"
          @textChange="textChange"
        />
      </div>
    </content-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import Navigator from '~/components/common/Navigator.vue'
import SectionTitle from '~/components/common/SectionTitle.vue'
import ContentForm from '~/components/form/AnalysisWrapper.vue'
import FormText from '~/components/form/fields/Text.vue'

class InputText {
  constructor(label, placeholder, status) {
    this.label = label
    this.placeholder = placeholder
    this.status = status
  }
}

export default {
  components: {
    Navigator,
    SectionTitle,
    FormText,
    ContentForm
  },
  data() {
    return {
      route: {
        to: 'analysis',
        text: this.$t('back')
      },
      title: this.$t('competence'),
      form: {
        title: this.$t('add_url'),
        width: 500,
        fields: []
      }
    }
  },
  computed: {
    ...mapGetters({
      analysisField: 'form/analysisField',
      loadedData: 'form/loadedData'
    })
  },
  created() {
    if (!this.loadedData) {
      this.redirect(false)
    }
  },
  mounted() {
    this.getInitialData()
    if (
      this.form.fields.some(
        el => el.status.value !== null && el.status.value !== ''
      )
    ) {
      this.saveModuleState({ element: 'showReset', show: true })
    }
  },
  methods: {
    ...mapActions({
      saveAnalysisData: 'form/saveAnalysisData',
      saveModuleState: 'controllers/saveModuleState'
    }),
    textChange(status) {
      const elem = this.form.fields.find(
        result => result.status.key === status.id
      )
      elem.status.value = status.text
    },
    getInitialData() {
      const inputs = [
        new InputText('URL 1', 'http://', {
          ...this.analysisField('competitor_url1')
        }),
        new InputText('URL 2', 'http://', {
          ...this.analysisField('competitor_url2')
        }),
        new InputText('URL 3', 'http://', {
          ...this.analysisField('competitor_url3')
        })
      ]
      this.form.fields = inputs
    },
    enableCompetence() {
      let hasCompetence = this.form.fields.some(
        el => el.status.value !== '' && el.status.value !== null
      )
      this.saveModuleState({ element: 'hasCompetence', show: hasCompetence })
    },
    saveData() {
      let submitData = this.form.fields.map(a => a.status)
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.enableCompetence()
      this.redirect()
    },
    removeData() {
      this.$refs.text.forEach(element => {
        element.resetData()
      })
      let submitData = this.form.fields.map(a => a.status)
      submitData.forEach(element => {
        this.saveAnalysisData(element)
      })
      this.redirect()
    },
    redirect(delay = true) {
      if (delay) {
        setTimeout(() => {
          this.$router.push(this.localePath('analysis'))
        }, 200)
      } else {
        this.$router.push(this.localePath('analysis'))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form-field {
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 10px;
  }
}
</style>
