<template>  
  <div class="detail-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section class="optimization-section">
      <section-title
        :title="optimization.title"
      />
      <div class="section-rate">
        <span class="section-rate-title">{{ $t('average_rate') }}</span>
        <rate
          :result="optimization.rate"
          class="section-rate-value"
        />
      </div>
      <p class="section-description">{{ optimization.description }}</p>
      <div class="optimization-list">
        <div          
          v-for="(element, index) in optimization.list"
          :key="'analisys' + index"
          class="optimization-list-item">
          <box
            :title="element.name"
            :text="element.text"
            :result="element.result"
            custom-class="box-detail-optimization"
            class="box-wrapper"
          />
        </div>
      </div>      
    </section>

    <section
      v-if="contents.enabled"
      class="optimization-section"
    >
      <section-title
        :title="contents.title"
      />
      <div class="section-rate">
        <span class="section-rate-title">{{ $t('average_rate') }}</span>
        <rate
          :result="contents.rate"
          class="section-rate-value"
        />
      </div>
      <p class="section-description">{{ contents.description }}</p>   
      <contents-table ref="contentsTable"/>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Navigator from '~/components/common/Navigator'
import SectionTitle from '~/components/common/SectionTitle'
import Box from '~/components/Box'
import Rate from '~/components/Rate'
import ContentsTable from '~/components/summary/web/ContentsTable'
export default {
  components: {
    Navigator,
    SectionTitle,
    Box,
    Rate,
    ContentsTable
  },
  data() {
    return {
      route: {
        to: 'summary',
        text: this.$t('back')
      },
      optimization: {
        title: this.$t('web_summary_title'),
        description: `Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
         ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
         pariatur.`,
        rate: '',
        list: [
          {
            name: this.$t('desktop_optimization_google'),
            result: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
            key: 'pageSpeedDesktop'
          },
          {
            name: this.$t('mobile_optimization_google'),
            result: 'good',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
            key: 'pageSpeedMobile'
          },
          {
            name: this.$t('responsive_page'),
            result: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
            key: 'responsive'
          },
          {
            name: this.$t('structured_data'),
            result: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
            key: 'structuredData'
          },
          {
            name: this.$t('text_code_ratio'),
            result: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',
            key: 'codeToTextRatio'
          }
        ]
      },
      contents: {
        title: this.$t('contents'),
        description: `Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
         ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
         pariatur.`,
        rate: '',
        enabled: true
      }
    }
  },
  computed: {
    ...mapGetters({
      summary: 'summary/summary'
    })
  },
  mounted() {
    const { summary, boxes } = this.summary
    this.createWebBlock({ summary, boxes })
    if (summary.contentOptimizationBox) {
      this.createWebContent({ summary, boxes })
    } else {
      this.contents.enabled = false
    }
  },
  methods: {
    createWebBlock(report) {
      const { webAnalysis } = report.boxes.webOptimizationBox
      const { webOptimizationBox } = report.summary
      this.optimization.rate = webOptimizationBox
      this.optimization.list.forEach(element => {
        element.result = webAnalysis[element.key].result
      })
    },
    createWebContent(report) {
      const vm = this
      const { contentOptimizationBox } = report.summary
      const {
        contentOptimizationQuestions
      } = report.boxes.contentOptimizationBox
      this.contents.rate = contentOptimizationBox
      vm.$refs.contentsTable.setInitialData(contentOptimizationQuestions)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.detail-page {
  text-align: left;
  padding-bottom: 170px;
}
.section-rate {
  display: flex;
  flex-direction: column;
  margin-top: -26px;
}
.section-rate-title {
  font: {
    size: 14px;
  }
  color: $white;
}
.section-rate-value {
  font-size: 24px;
  margin-top: 4px;
}
.section-description {
  color: $white;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 0;
}
.optimization-list {
  display: grid;
  grid-gap: 30px;
  margin: 24px auto 0;
  grid-template-columns: repeat(3, 1fr);
}
.box-wrapper {
  text-align: left;
}
.box-content {
  height: 360px;
}
</style>
