<template>  
  <div class="detail-page">
    <navigator
      :route-to="route.to"
      :route-text="route.text"
    />
    <section-title
      :title="title"
      class="detail-title"
    />
    <div class="detail-rate">
      <span class="detail-rate-title">{{ $t('average_rate') }}</span>
      <rate
        :result="rate"
        class="detail-rate-value"
      />
    </div>
    <div class="detail-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <a
      :href="reportLink"
      class="detail-see-report"
      target="_blank"
    >
      <span class="detail-see-text">{{ $t('see_complete_report') }}</span>
      <ion-icon
        name="md-open"
        class="detail-see-icon"
      />
    </a>
    <rrss/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Navigator from '~/components/common/Navigator'
import SectionTitle from '~/components/common/SectionTitle.vue'
import Rrss from '~/components/summary/rrss/Rrss.vue'
import Rate from '~/components/Rate'

export default {
  components: {
    Navigator,
    SectionTitle,
    Rrss,
    Rate
  },
  data() {
    return {
      route: {
        to: 'summary',
        text: this.$t('back')
      },
      title: this.$t('rrss_optimization_title'),
      rate: '',
      reportLink: '#'
    }
  },
  computed: {
    ...mapGetters({
      summary: 'summary/summary'
    })
  },
  mounted() {
    const { summary, boxes } = this.summary
    this.setInitialData({ summary, boxes })
  },
  methods: {
    setInitialData(report) {
      const { socialNetworksOptimizationBox } = report.summary
      if (!socialNetworksOptimizationBox) {
        this.redirect()
      }
      this.rate = socialNetworksOptimizationBox
      this.reportLink =
        report.boxes.socialNetworksOptimizationBox.presenceManagement.url.value
    },
    redirect() {
      this.$router.push(this.localePath('summary'))
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.detail-page {
  text-align: left;
  padding-bottom: 170px;
}

.detail-title {
  margin-bottom: 24px;
}

.detail-description {
  color: $white;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 22px;
  > * {
    font-size: 15px;
  }
}

.detail-rate {
  margin-bottom: 14px;
}

.detail-rate-title {
  font-size: 14px;
  margin-bottom: 4px;
  color: $white;
  display: block;
}

.detail-rate-value {
  font-size: 14px;
  color: $success;
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.detail-see-report {
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 5px solid $primary;
  padding: 4px 0;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}

.detail-see-text {
  margin-right: 8px;
}
</style>
